.Cards {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.sub {
    margin-top: 1em;
    color: black;
    font-size: larger;
    font-style: italic;
     text-align: center;
    justify-content: center;
    align-items: center;
}
.unidades {
  margin-top: 1em;
  color: black;
  font-size: larger;
  font-style: italic;
   text-align: center;
  justify-content: center;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}

.card {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 20px;
}

.clock {
  margin-top: 1em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
