body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #eee;
  width: 100%;
  height: 100vh;


  @media screen {min-width: 496px; max-width: 1280px;

    @media screen {
      
    }
    }
  }